.signIn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #bdbdbd;
  border: 0px;
}

.signUp {
  color: #ffff;
  background-color: #0d8bfc;
  border: 0px;
  margin-left: 20px;
}
